* {
    padding: 0%;
    margin: 0%;
}

.content{
    height: 80vh;
    background-image: url(media/8010242.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

div {
    height: 20vh;
    background: radial-gradient(circle, green, blue);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
  height: 200px;
  width: 200px;
  margin: 20px;
  color: blue;
  border: 8px solid red;
  box-shadow: -5px -5px 5px 2px grey;

}