body{
    height: 300vh;
}

.second-box{
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 20px;
    position: sticky;
    bottom: 0;
}
.first-box{
    height: 100px;
    width: 100px;
    background-color: black;
    margin-bottom: 20px;
    position: fixed;

}