.ad{
    background-color: brown;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-bottom: 20px    ;
}
.cd{    background-color: brown;
    height: 100px;
    width: 200
    px;
    border-bottom: 20px;
    margin-bottom: 20px    ;
}